<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yeodam.yeodam2019">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_yeodam"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_yeodam"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.activity.main.loadMapActivity"></activity>
        <activity android:name=".view.activity.map.UploadActivity" />
        <activity android:name=".view.activity.PushInfoActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo_yeodam" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity android:name=".view.activity.map.write.PayActivity" />
        <activity android:name=".view.activity.map.write.MemoActivity" />
        <activity android:name=".view.activity.setting.ServiceActivity" />
        <activity android:name=".view.activity.setting.ProfileActivity" />
        <activity android:name=".view.activity.setting.SettingActivity" />
        <activity
            android:name=".view.activity.splash.InfoActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".view.activity.splash.OnboardingActivity" />
        <activity android:name=".view.activity.map.MapActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDDTJmTRy4nhpNAc5U3fyNanMin38mxduw" />

        <activity android:name=".view.activity.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.main.MainActivity" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".YeoDamService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>