<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yeodam.yeodam2019">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_yeodam"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:maxSdkVersion="18"
        android:roundIcon="@drawable/ic_logo_yeodam"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".MemoInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.more.PhotoMoreActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.more.PayInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.main.ItemMoreActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.main.DeleteActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.map.MapMoreActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.main.NotificationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.main.loadMapActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.map.UploadActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.PushInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.map.write.PayActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.map.write.MemoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.setting.ServiceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.setting.ProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.setting.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.splash.InfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".view.activity.splash.OnboardingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.map.MapActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.main.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.splash.SplashActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo_yeodam" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".YeoDamService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>